@page "{name}"
@model ProductsModel
@{
	ViewData["Title"] = "Products by category";
}
<div class="text-center">
	<h1 class="display-4">@Model.CategoryName</h1>
	<table>
		<tr>
			<td>Название</td>
			<td>Описание</td>
			<td>Цена</td>
		</tr>
		@foreach (var product in Model.Products)
		{
			<tr>
				<td>@product.Name</td>
				<td>@product.Discription</td>
				<td>@product.Price р</td>
				<td>
					<a asp-page="Order" asp-route-id="@product.Id">Оформить заказ</a>
				</td>
			</tr>
		}
	</table>
</div>
